<% layout('layouts/boilerplate') %> 
<h1 style="text-align: center;" class="mt-3"> All Legends</h1>
<%for(let legend of legends){%>
    <div class="card border border-4 border-primary mt-4 cardhov" style="overflow:hidden;" >
        <div class="row ">
          <div class="col-md-3 me-md-5">
            <img class="" src="<%=legend.images[0].url %>" alt="<%=legend.name%>" width="450" height="380">
          </div>
          <div class="col-md-8 ms-md-5 ps-md-5">
            <div class="card-body">
              <h5 class="card-title h2"><%=legend.name%></h5>
              <p class="card-text"><%=legend.about.substr(0,550)%>.......</p>
              <p class="card-text"><small class="text-muted"><i class="fas fa-globe-americas"></i> <%=legend.POB%></small></p>
              <a href="/legends/<%=legend._id%>" class="btn mt-5 btn-primary fw-bold" > <i class="fas fa-info-circle fs-5 fw-bold"></i>  More about <%=legend.name%></a>
            </div>
          </div>
        </div>
      </div>
<%}%> 






